body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(203, 126, 32);
}

.title {
    margin: 0px;
    background-color: blanchedalmond;
    text-align: center;
    font-weight: 700;
    font-size: 52px;
    color: blue;
}

.main {
    display: flex;
    justify-content: space-around;
    padding: 50px 10px;
}

.sketchpad {
    height: 500px;
    width: 650px;
    border-radius: 10px;
    outline: 5px solid black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;  /* The added divs will be wrapped */
    /* overflow: hidden; */
}

.menus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    border: 3px solid black;
    border-radius: 5px;
    background-color: gray;
    color: blue;
    height: 50px;
    width: 100px;
    font-size: large;
    font-weight: 600;
}

.newdiv {
    /* box-sizing: border-box; */
    outline: 1px solid black;
}

